.app {
  display: flex;
  flex-direction: column;
  background-color: #14171a;
  text-align: center;
}

.app-airship {
  animation: app-airship-float infinite 8s ease-in-out;
  height: 80px;
}

.app-header {
  background-color: #24292e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center
}

.app-divider {
  width: 100vw;
  height: 1px;
  background-color: rgb(59, 59, 59);
}

.app-header__socials {
  display: flex;
  flex-direction: column;
  margin: 3%;
  position:absolute;
  left: 0;
}
.app-header__socials--button {
  transition: 0.1s;
}
.app-header__socials--button:hover {
  transform: scale(1.1);
}

.app-intro {
  height: 155vw;
  font-size: large;
  text-align: left;
  color: #fafbfc;
}

.app-intro__projectmtf {
  display: flex;
  justify-content: center;
  padding: 30px;
  font-size: 1vw;
}

.app-intro__infiltration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20vw;
  font-size: 1vw;
}

@keyframes app-airship-float {
  0% { transform: translate(0, 0%); }
  50% { transform: translate(0, -5%); }
  100% { transform: translate(0, 0%); }
}
