.list {
  list-style-type: none;
  text-align: left;
}

.link {
  color: #1e90ff; /* Link color */
  text-decoration: none; /* Remove underline */
}
.link:hover {
  text-decoration: underline;
}
.link:visited {
  color: #1b7fe4;
}

.app {
  display: flex;
  flex-direction: column;
  background-color: #262c30;
  text-align: center;
}

.app-flag-on-mountain {
  animation-iteration-count: 1;
  animation: app-slide-in 0.5s ease-out;
  height: 80px;
  overflow: hidden;
}

.app-clouds {
  animation: clouds infinite 240s linear;
  overflow: hidden;
}

.app-header {
  background-image: linear-gradient(#869bb6, #59697c);
  color: white;
  display: flex;
  margin-left: -200px;
  flex-direction: column;
  height: '100vh'
}

.app-divider {
  width: 100vw;
  height: 100px;
  background-color: rgb(255, 255, 255);
}

.app-header__socials {
  display: flex;
  flex-direction: column;
  margin: 3%;
  position:absolute;
  left: 0;
}
.app-header__socials--button {
  transition: 0.1s;
}
.app-header__socials--button:hover {
  transform: scale(1.1);
}

.app-intro {
  font-size: large;
  text-align: left;
  color: #fafbfc;
}

.app-intro__projectmtf {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.app-intro__infiltration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20vw;
}

@keyframes app-slide-in {
  0% { transform: translate(-2%, 0%); }
  100% { transform: translate(0%, 0%); }
}
@keyframes clouds {
  0% { transform: translate(-70%, 0%)}
  100% {transform: translate(90%, 0%)}
}
