body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@font-face {
  font-family: 'Construction';
  src: local('Construction'), url(./fonts/OmbudsmanAlternate-6YvDq.otf) format('opentype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: 'Jetbrains';
  src: local('Jetbrains'), url(./fonts/JetBrainsMonoNL-Regular.ttf) format('woff2');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'Libertine';
  src: local('Libertine'), url(./fonts/LinLibertine_RI.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}


